@import 'mixins';
@import './panels/region_info';
@import './panels/map_tools';
@import './panels/tab_panel';


body {
  font-family: CentraleSans;
  font-size: 100%;
  margin: 0;
  background-color: #7CC9C5;

  &.inframe {
    padding-left: 35px;
    padding-right: 45px;
  }
}

#title_bar,
#menu_bar,
#producttree_temp {
	display: none;
}

[id*='_panel']:not(#app_panel) {
	display: none;
}

#app_panel {
	#app_wrapper {

		.map-tab_panels {
			display: block;
			top: 0%;
			width: 100%;

		}
		#oru_filter_container {
			display: block;
			top: 10%;
			width: 100%;


			select {
				padding: .5em 1em;
				width: 150px;

			}
		}
		#map {
			top: 18%;
            height: 400px;
            width: 100%;
            padding: 20px 0;
            display: none;
			// width: 1px;
            // height: 1px;
            // text-indent: -9999px;
            @media #{$medium-up} {
                height: 440px;
                width: 100%;
                display: block;
                opacity: 1;
            }

            #main_wrapper{
				height: 440px;
                #holder_1000{
					height: 440px;
                    text-align: center;
                    svg{
                        margin: 0 auto;
                        * {
                            fill: #7CC9C5;
                            transition: fill .5s ease;
                            cursor: pointer;
                            &.no-data {
                                cursor: default!important;
                            }
                        }
                    }
                }
            }

			.active:not(#world) *{
				fill: $color-highlight!important;
			}
		}

        #regions {
            ul {
                list-style-type: none;
                margin: 0;
                padding: 50px 0;
                li {
                    font-size: 21px;
                    padding: 10px 0;
                    position: relative;
                    &:after {
            			border-style: solid;
            		    border-width: .05em .05em 0 0;
            		    content: "";
            		    display: inline-block;
            		    height: .50em;
                        margin-left: 25px;
                        right: 10px;
            		    position: absolute;
            		    top: 15px;
            		    -webkit-transform: rotate(135deg);
            		    -ms-transform: rotate(135deg);
            		    transform: rotate(135deg);
            		    vertical-align: top;
            		    width: .50em;

            		}
                    &.mapselector{
                        cursor: pointer;
                    }
                    .region_info_wrapper {
                        display: block!important;
                        opacity: 1;
                        position: relative;
                        cursor: default;
                    }

                }
                .mapselector {

                    &.selected {
                        color: #E1E96D;
                        &:after {
                            transform: rotate(-45deg);
                        }
                        *:not(.lives_improved_percentage) {
                            font-size: 14px;
                        }
                    }
                }
            }
            @media #{$medium-up} {
                display: none;
            }
        }

		#bottom_panel {
			display: none;
			bottom: 0;
            width: 100%;
            position: relative;
            @media #{$medium-up} {
                display: block;
                top: 10px;
    			height: 275px;
            }

		}

		#slider_indicator,
		#show_simulation,
		#show_current {
			display: none;
		}
	}
}

.level1 .active *{
    fill: red!important;
}


#error {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  background: #ccc;
  color: #FF0000;
  opacity: 1;
  z-index: 10;
  text-align: center;
  margin: 10px 10px;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  background: url(../img/ajax-loader.gif) no-repeat center;
  z-index: 10000;
  opacity: 0;
}

.container {
	max-width: $content-width;
	margin: 0 auto;

	@media #{$xlarge-up} {
		max-width: $content-width-large;
	}
}

/* Do not show the pointer cursor for the map on oru level 1 */
.orulevel-1 #map #main_wrapper #holder_1000 svg * {
	cursor: default!important;
}
