
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
{
	/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px)
{
	/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px)
{
	/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5) or (min-device-pixel-ratio : 1.5)
{
	/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)
{
	/* Styles */

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)
{
	/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)
{
	/* Styles */
}


/* Desktops and laptops ----------- */
@media only screen and (min-width : 768px)
{
	/* Styles */
	#current_status
	{
		max-width: 30%;
		left: 5px;
		top: 30%;
	}
	#trend_line
	{
		max-width: 30%;
		left: 33%;
		top: 30%;
	}
	#year_end
	{
		max-width: 30%;
		left: 66%;
		top: 30%;
		bottom: auto;
	}
	#save_favourite
	{
		right: 10px;
		top: 10px;
	}

	.region_info .modal_content
	{
		max-width: 100% !important;
		left: 0px !important;
		margin-left: 0px !important;
	}
	.panel.modal.fullscreen
	{
		margin-top: 0px;
		left: 0px;
		right: 0px;
		top: 0px;
		bottom: 0px;
		height: 100% !important;
	}
	.app .modal_content, .filter .modal_content
	{
		margin-left: -200px !important;
	}
	#region_info
	{
		height: 100%;
		width: 33%;
		top: 0%;
		border-bottom: 1px solid #ececec;
	}
	#simulation
	{
		overflow: hidden;
		left: 66%;
		top: 0%;
		width: 34%;
		height: 100%;
		border-bottom: 1px solid #ececec;
	}
	#simulation_wrapper
	{
		width: 90%;
		position: absolute;
		bottom: 0%;
		margin-top: 0%;
	}

	.data_wrapper
	{
		width: 25%;
		left: 25%;
	}
	#region_history
	{
		position: absolute;
		width: 33%;
		left: 33%;
		height: 100%;
		top: 0%;
		border-bottom: 1px solid #ececec;
		z-index: 10;
	}
	#bottom_panel
	{
		top: -30%;
		bottom: 0%;
		height: 30%;
	}
	#top_panel
	{
		height: 30%;
		top: -30%;
	}
	#show_current, #show_simulation
	{
		display: none !important;
	}
	#region_history span
	{
		color: #000 !important;
	}
	.modal
	{
		margin: 0 0 0 -200px !important;
		left: 50% !important;
		height: 95%;
		padding-bottom: 10px;
		margin-top: 10px;
		max-width: 400px !important;
	}
	.modal.fullscreen
	{
		margin: 0px !important;
		left: 0% !important;
		margin-left: 0px;
	}
	#btn_wrapper
	{
		max-width: 400px;
		margin: 0px auto;
	}
	#form_wrapper
	{
		position: relative;
		max-width: 400px;
		margin: 0px auto;
	}
	#login_panel
	{
		background-position: bottom;
	}

	#region_info
	{
		height: 100%;
		width: 33%;
		top: 0%;
		border-bottom: 1px solid #ececec;
	}
	#simulation
	{
		overflow: hidden;
		left: 66%;
		top: 0%;
		width: 34%;
		height: 100%;
		border-bottom: 1px solid #ececec;
	}
	#simulation_wrapper
	{
		position: relative;
		top: 0%;
		margin-top: 0%;
	}
	#simulation_wrapper h1
	{
		margin: 12px 0 0 0;
		lin-height: 30px;
		font-size: 28px;
		color: #2badb5;
	}
	.data_wrapper
	{
		width: 25%;
		left: 25%;
	}
	#region_history
	{
		position: absolute;
		width: 33%;
		left: 33%;
		height: 100%;
		top: 0%;
		border-bottom: 1px solid #ececec;
		z-index: 10;
	}
	#bottom_panel
	{
		top: -30%;
		bottom: 0%;
		height: 30%;
	}
	#top_panel
	{
		height: 30%;
		top: -30%;
	}
	#show_current, #show_simulation
	{
		display: none !important;
	}
	#region_history span
	{
		color: #000 !important;
	}
	.modal
	{
		margin: auto auto;
		height: 95%;
		padding-bottom: 10px;
		margin-top: 10px;
		max-width: 400px !important;
	}
	#btn_wrapper
	{
		max-width: 400px;
		margin: 0px auto;
	}
	#form_wrapper
	{
		position: relative;
		max-width: 400px;
		margin: 0px auto;
	}
	#login_panel
	{
		background-position: bottom;
	}
	body.PD0100 .slider_value, body.PD0100 #simulation_wrapper h1
	{
		color: #7dba00;
	}
	body.PD0200 .slider_value, body.PD0200 #simulation_wrapper h1
	{
		color: #68049c;
	}
	body.PD0900 .slider_value, body.PD0900 #simulation_wrapper h1
	{
		color: #2badb5;
	}
	body.philips .slider_value, body.philips #simulation_wrapper h1
	{
		color: #0b5ed7;
	}
}


/* Large screens ----------- */
@media only screen and (min-width : 1824px)
{
	/* Styles */
}

