@font-face
{
	font-family: gill_header;
	src: url('../fonts/gsa_wg-webfont.woff')
}
@font-face
{
	font-family: gill;
	src: url('../fonts/gsa_wg_l-webfont.woff')
}
family:'GillSansAltOneWGLLightRegular';src:url('/fonts/gsa_wg_l-webfont.eot');src:url('/fonts/gsa_wg_l-webfont.eot?#iefix') format('embedded-opentype'),url('/fonts/gsa_wg_l-webfont.woff') format('woff'),url('/fonts/gsa_wg_l-webfont.ttf') format('truetype'),url('/fonts/gsa_wg_l-webfont.svg#GillSansAltOneWGLLightRegular') format('svg');font-weight:normal;font-style:normal}@font-face{font-family:'GillSansAltOneWGLRegular';src:url('/fonts/gsa_wg-webfont.eot');src:url('/fonts/gsa_wg-webfont.eot?#iefix') format('embedded-opentype'),url('/fonts/gsa_wg-webfont.woff') format('woff'),url('/fonts/gsa_wg-webfont.ttf') format('truetype'),url('/fonts/gsa_wg-webfont.svg#GillSansAltOneWGLLightRegular') format('svg');font-weight:normal;font-style:normal}
*{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);	
}
body{
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	overflow: hidden;
	margin: 0px;
	font-family: gill;
}
#error{
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: auto;
	background: #999;
	color: #FF0000;
	opacity: 0;
	z-index: 10;
	padding: 10px 20px;
	text-align: center;
}
#loading{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	margin-left: -25px;
	margin-top: -25px;
	background: url('../img/ajax-loader.gif') no-repeat center;	
	z-index: 10000;
	display: none;
}
.panel{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: hidden;

}
.panel.modal{
	top: 10px;
	bottom: 10px;
	left: 10px;
	right: 10px;	
	z-index: 4;
	opacity: 0;
	display: none;
	/*transition: all 0.4s ease-out, height 0.4s ease-out 0.4s;
	-webkit-transition: all 0.4s ease-out, height 0.4s ease-out 0.4s;		*/
}
.btn{
	float: left;
	padding-top: 36px;
	border: 1px solid #1f1f1f;
	background: #1f1f1f;
	width: 25%;
	height: 60px;
	color: #fff;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.btn_close{
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 10px 0 0 0;
	text-align: center;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
}
.panel_header{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 40px;
	background: #1f1f1f;
	color: #fff;
}
.modal_content{
	position: absolute;
	top: 40px;
	bottom: 0px;
	width: 100%;
	overflow: auto;
}
#title_bar{
	position: absolute;
	top: 0px;
	background: #262626;
	height: 60px;
	width: 100%;	
	z-index: 2000;

}
#btn_back{
	width: 60px;
	height: 60px;
	top: 0px;
	left: 0px;
	background:url('../img/back_btn.png') no-repeat 20px 12px;
	background-size: auto 55%;
}

.hide{
	display: none;
}
#toggle_favourite{
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0px;
	right: 0px;	
	background:url('../img/topfavorite.svg') no-repeat 5px 15px;	
	background-size: auto 45%;
}
#toggle_favourite.selected{
	background-image:url('../img/favorite.svg');	
}
#info{
	position: absolute;
	bottom: 0px;
	right: 60px;
	left: 60px;
	top: 0px;
	text-align: center;

}

.info_wrapper{
	display: block;
  	vertical-align: middle;
	margin: auto 0px;
}
#region_name{
	color: #fff;
	font-size: 22px;
	height: 22px;
	font-family: gill_header;
}
#filter_breadcrumb_wrapper{
	display: block;
	width: 100%;
	position: absolute;
	top: 25px;
	padding: 2px 0px;
	color: #fff;
	height: 24px;
	font-size: 12px;
	line-height: 12px;
}
#filter_breadcrumb{
	height: auto;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
#menu_bar{
	position: absolute;
	bottom: 0px;
	height: 60px;
	width: 100%;
	text-align: center;
	z-index: 10000;
}
#menu_bar .btn{
	background-size: auto 80%;
	font-size:12px;
	color: #fff;
}
#btn_bookmarks{
	background: #272c2d url('../img/favorite.svg') no-repeat 50% 10px;	
	background-size: auto 30%!important;
}
#btn_filter{
	background: #272c2d url('../img/filter.svg') no-repeat 50% 10px;	
	background-size: auto 30%!important;
}
#btn_explain{
	background: #272c2d url('../img/faq.svg') no-repeat 50% 8px;	
	background-size: auto 30%!important;
}
#btn_logout{
	background: #272c2d url('../img/logout.svg') no-repeat 50% 10px;	
	background-size: auto 30%!important;
}
.btn_close{
	background: url('../img/close_icon.svg') no-repeat 50% 50%;
	background-size: 50% auto;
}
#app_panel{
	display: block;
	z-index: 1;
}
#app_wrapper{
	position: absolute;
	top: 60px;
	bottom: 60px;
	left: 0px;
	right: 0px;
}
#map{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-size: auto 100%;
	background-position: fixed;
	z-index: 10;
}
#region_info{
	position: absolute;
	top: -40%;
	left: 0px;
	right: 0px;
	height: 40%;
	width: 100%;
	background-color: #007aa7;
	z-index: 20;
	-webkit-box-shadow: inset 0 8px 6px -6px black;
	-moz-box-shadow: inset 0 8px 6px -6px black;
	box-shadow: inset 0 10px 60px -20px black;	
}
.svg_wrapper{
	position: absolute;
	width: 50%;
	bottom: 0px;
	height: 100%;
}

path#arc_path, circle#background, path#arc_path_left{
	fill: none;
	stroke-width: 20;       	
}

path#arc_path {
    opacity: 0.4;
    stroke: #000000;
}
path#arc_path_left{
    opacity: 0.6;
    stroke: #000000;
}
circle#background{
	stroke-opacity: .1;
	stroke: #efefef;
}
.data_wrapper{
	position: absolute;
	width: 50%;
	bottom: 0px;
	left: 50%;
	height: 100%;
	display: block;
}
#holder{
	width: 50%;
	overflow: hidden;
	float: left;
	height: 100%;
	width: 100%;
	overflow: hidden;
	float: left;	
}

#region_data{
	position: absolute;
	text-align: right;
	width: 100%;
	height: 100%;
}
#region_data div{
	padding-right: 15px;
	
	width: auto;
	
}
span{
	display: block;
}
#region_lives_improved{
	position: absolute;
	display: block;
	bottom: 40%;
	height: 60%;
	left: 0px;
	right: 0px;
}
#region_gdp{
	position: absolute;
	display: block;
	height: 20%;
	bottom: 20%;
	left: 0px;
	right: 0px;
		
}
#region_population{
	position: absolute;
	display: block;
	height: 20%;
	bottom: 0px;
	left: 0px;
	right: 0px;		
}
#nr_lives_improved{
	padding-right: 0px!important;
	font-size: 4em;
	height: 70px;
	color: #fff;
}
.lives_improved_sub{
	clear: both;
	display: block;
	font-size: 10px;
	width: 100%;
	color: #000000;
	opacity: .4;
	font-weight: bold;
	padding-right: 5px!important;
	padding-left: 5px!important;
	
}
#nr_gdp{
	color: #fff;
	padding-top: 2px;
	background: url('../img/gdp.svg') no-repeat 0px 0px;	
	height: 25px;
	background-size: 25px auto;
	padding-right: 5px!important;
}
#nr_population{
	color: #fff;
	padding-top: 5px;
	padding-right: 5px!important;
	background: url('../img/population.svg') no-repeat 0px 0px;	
	height: 25px;
	background-size: 25px auto;
}

#lives_improved_percentage{
	font-size: 4em;
	font-weight: bold;
	fill: #fff;
}
#lives_improved_percentage_sub{
	font-size: 1.2em;
	color: #000000;
	opacity: .4;
	font-weight: bold;
}

#simulation{
	position: absolute;
	bottom: -60%;
	left: 0px;
	right: 0px;
	height: 60%;
	width: 100%;
	border-top: 1px solid #e7e7e7;
	background-color: #f4f4f4;
	z-index: 30;
		
}
#simulation_wrapper{
	margin: 0px 30px;
	opacity: 0;
}
#simulation_wrapper h3{
	height: 20%;
}
#simulation_wrapper #section1{
	position: absolute;
	height: 40%;
	top: 20%;
	width: 85%;
}
#simulation_wrapper #section2{
	position: absolute;
	height: 40%;
	top: 60%;
	width: 85%;
}



#login_panel{
	background-color: #f4f4f4;
	background-image:url('../img/login_bg.png');
	background-repeat: no-repeat;
	background-position: fixed;
	background-size: auto 100% ;
	z-index: 2;
}
#login_panel span{
	font-size: 12px;
	padding-bottom: 10px;
}
#login{
	position: absolute;
	bottom: 100px;
	left: 50px;
	right: 50px;
	bottom: 150px;
}
#login input{
	width: 100%;
	height: 40px;
	margin: 0 0 10px 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;	
} 
#login input[type=text], #login input[type=password]{
	padding-left: 5px;
}
#btn_submit{
	position: relative;
	right: 0px;
	left: 0px;
	bottom: 0px;
	padding: 0px;
	width:100%;
}
#overlay{
	position: absolute;
	z-index: 3;
	background: #000;
	display: none;
	width: 100%;
	height: 100%;
	opacity: 0;
	/*transition: opacity 0.4s ease-out, height 0.4s ease-out 0.4s;
	-webkit-transition: opacity 0.4s ease-out, height 0.4s ease-out 0.4s;		*/
}
#filter_panel{
	background: #fff;
}
#filter_panel h4{
	padding-left: 10px;	
}
#filter_container ul{
	list-style-type: none;
	padding-left: 10px;
}
#filter_container ul > li{
	position: relative;
	margin-top: 20px;
	font-size: 20px;
	color: #2d2d2d;
}
#filter_container ul > li ul{
	padding-top: 2px;
	margin-left: 20px;
	overflow: hidden;
}
#filter_container ul li  li{
	margin-top: 5px;
	font-size: 14px;
}
#filter_container ul > li ul li ul{
	height: 0px;
}
#filter_container ul > li ul li div{
	margin: 10px 0px;
}
.mru_sector_color{
	position: absolute;
	left: 19px;
	top: 30px;
	width: 3px;
	bottom: 4px;
}
li#PD0100.selected, li#PD0100 .selected{
	color: #7dba00!important;
	font-family: gill_header;
}
li#PD0100 .mru_sector_color{
	background: #7dba00;
}
li#PD0200.selected, li#PD0200 .selected{
	color: #68049c!important;
	font-family: gill_header;
}
li#PD0200 .mru_sector_color{
	background: #68049c;
}
li#PD0900.selected, li#PD0900 .selected{
	color: #2badb5!important;
	font-family: gill_header;
}
li#PD0900 .mru_sector_color{
	background: #2badb5;
}
li#philips.selected{
	color: #0b5ed7;
	font-family: gill_header;
	font-weight: bold;
}

#oru_filter_container div{
	width: 25%;
	height: 40px;
	float: left;
	border-right: 1px solid #fff;
	box-sizing:border-box;
  	-moz-box-sizing:border-box;
  	-webkit-box-sizing:border-box;
	background: #999; 
	color: #2d2d2d;
	margin-top: 5px;
	margin-bottom: 15px;	
	text-align: center;
	padding-top: 10px;
}
#oru_filter_container div:last-child{
	border-right: none;
}
#oru_filter_container div.selected{
	background: #2d2d2d;
	color: #fff;
}
#bookmarks_panel{
	background: #fff;
}
#bookmarks_panel ul{
	position: absolute;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	top: 0px;
	left: 0px;
	right: 0px;
	overflow: auto;
	overflow-x: hidden;
}
#bookmarks_panel ul li{
	height: 50px;
	position: relative;
	border-bottom: 1px solid #999;
}
.bookmark_color{
	position: absolute;
	height: 40px;
	width: 10px;
	top: 0px;
	left: 10px;
}
#bookmarks_panel ul li h2{
	padding-left: 25px;
	margin-bottom: 0px;
}
#bookmarks_panel ul li span{
	padding-left: 35px;
	color: #333;
	font-size: 12px;
}
.remove_bookmark{
	top: 0px;
	width: 50px;
	height: 50px;
	position: absolute;
	right: 0px;
	background: url('../img/trash.svg') no-repeat 16px 8px;
	opacity: 0.8;
	background-size: 20px auto;
}

#explain_panel{
	background: #fff;
}
#producttree_temp{
	display: none;
}
input[type='range'] {
    -webkit-appearance: none;
    width: 83%;
    height: 1px;
    padding: 0px;
    margin-top: -3px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid #007aa7;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #00495d),
        color-stop(1, #00495d)
    );
    z-index: 10000;
}


body.PD0100 input[type='range']{
	border: 1px solid #7dba00;
	background: #7dba00;
}
body.PD0200 input[type='range'] {
	border: 1px solid #68049c;
	background: #68049c;
}
body.PD0900 input[type='range'] {
	border: 1px solid #2badb5;
	background: #2badb5;
}
body.philips input[type='range'] {
	border: 1px solid #0b5ed7;
	background: #0b5ed7;
}

body.PD0100 #region_info{
	background: #7dba00;
}
body.PD0200 #region_info{
	background: #68049c;
}
body.PD0900 #region_info {
	background: #2badb5;
}
body.philips #region_info {
	background: #0b5ed7;
}

body.PD0100 .slider_value{
	color: #7dba00;
}
body.PD0200 .slider_value {
	color: #68049c;
}
body.PD0900 .slider_value {
	color: #2badb5;
}
body.philips .slider_value {
	color: #0b5ed7;
}
input[type='range']::-webkit-slider-thumb {  
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    border: 1px solid #ededed;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 50%;
	-moz-box-shadow: 0px 0px 1px 1px #ccc;
  	-webkit-box-shadow: 0px 0px 1px 1px #ccc;
  	box-shadow: 0px 0px 1px 1px #ccc;
  	z-index: 10000;
}

.slider_value{
	width: 12%;
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	padding: 0px 0px;
	color: #007aa7;
	float: right;
}
.range_indicator{
	width: 83%;
	height: 20px;
	position: relative;
	padding-top: 15px;
	color: #4a4a4a;
	font-size: 9px;
}
.range_indicator .min{
	position: absolute;
	left: 0%;
}
.range_indicator .zero{
	position: absolute;
	left: 41%;	
}
.range_indicator .max{
	position: absolute;
	left: 98%;	
}
h2{
	font-size: 17px;
	margin: 10px 10px;
	font-family: gill_header;
}
h3{
	color: #4a4a4a;
	font-size: 20px;
	font-weight: normal;
	margin-top: 0.5em;
	margin-bottom: 0.2em;
	font-family: gill_header;
}
h4{
	color: #4a4a4a;
margin-bottom: 2%;
margin-top: 1%;
font-family: gill_header;
}

/* FAQ */
div#explain_content {
    padding: 10px;
}
div#explain_panel div.faq_wrapper{
	color: #252F47;

}
div#explain_panel div.faq_wrapper div.faq_header{
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 1px;
	font-size: 18px;
	font-family: gill_header;
}
div#explain_panel div.faq_wrapper div.faq_content p{
	margin-top: 3px;
	margin-bottom: 7px;
}

/* attempt to hardware accelarate the worldmap */
div#holder_1000 svg{
	/*-webkit-transform: translateZ(0);*/
}




/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 768px) {
/* Styles */
	#region_info{
		height: 32%;
		width: 50%;
		top: -32%;
		border-bottom: 1px solid #ececec;
	}
	#simulation{
	overflow: hidden;
		left: 50%;
		top: -32%;
		width: 50%;
		height: 32%;
		border-bottom: 1px solid #ececec;
	}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}