.map_tools {
	width: 100%;
	height: 100%;
	display: none;
	opacity: 1;
	position: absolute;
	z-index: 3;

	@media #{$medium-up} {
		display: block;
	}

	.container {
		display: flex;
		justify-content: space-between;
		height: 100%;
		position: relative;
	}
	&__legend {
		display: flex;
		flex-direction: column;
		width: grid-size(4);

		h4 {
			margin: 0;
			color: #fff;
		}

		span {
			color: #fff;
		}

		&--values {
			list-style-type: none;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				left: 0px;
			    width: 30px;
				height:  100%;
				background: -webkit-linear-gradient(#22505F, #5BBBB7); /* For Safari 5.1 to 6.0 */
			    background: -o-linear-gradient(#22505F, #5BBBB7); /* For Opera 11.1 to 12.0 */
			    background: -moz-linear-gradient(#22505F, #5BBBB7); /* For Firefox 3.6 to 15 */
			    background: linear-gradient(#22505F, #5BBBB7); /* Standard syntax (must be last) */
			}
			li {
				color: #fff;
				font-size: 14px;
				margin: 0;
				height: 40px;

				&:last-child {
					display: table-cell;
					vertical-align: bottom;
				}
			}
		}
		
		&--nodata {
			display: none;
			&--color{
				background: #cae3e9!important;
				padding-left: 15px;
				padding-right: 15px;
				padding-top: 5px;
				padding-bottom: 5px;
				margin-right: 10px;
				
				&:after {
					content: ' ';
				}
			}
			
			&--text{
				
			}
		}
	}

	&__zoom {

		&--in,
		&--out {
			position: absolute;

			width: 26px;
			height: 26px;
			border-radius: 2px;
			flex: 1 0 auto;
			background: #3A707A;
			color: #fff;
			cursor: pointer;

			&:after, &:before {
			    position: absolute;
			    top: 5px;
			    left: 12px;
			    content: ' ';
			    height: 15px;
			    width: 2px;
			    background-color: #fff;
			}

		}

		&--in {
			right: 35px;
			&:before {
			    -webkit-transform: rotate(90deg);
			    -ms-transform: rotate(90deg);
			    transform: rotate(90deg);
			}

		}

		&--out {
			right: 0;
			&:before {
			    -webkit-transform: rotate(90deg);
			    -ms-transform: rotate(90deg);
			    transform: rotate(90deg);
			}
			&:after {
				display: none;
			}
		}
	}
}

/* Show the no data legend */
.philips.datasource-sustainability.orulevel-3 {
	.map_tools__legend--nodata{
		display: block;
	}
}
.philips.datasource-sustainability.orulevel-3.subtype-all,
.philips.datasource-sustainability.orulevel-3.subtype-value_trc{
    .map_tools__legend--nodata{
		display: none;
	}    
}

.philips.datasource-sustainability.orulevel-3.subtype-all{
	.map_tools__legend{
		.map_tools__legend__title,
		.map_tools__legend__subtitle,
		.map_tools__legend--values{
			display: none;
		}
	}
}