

.region_info,
.region_info_wrapper {
	color: #3A707A;
	width: 100%;
	height: 100%;
	opacity: 0;
	position: relative;

	&_wrapper {
		padding-top: 10px;

		@media #{$medium-up} {
			padding-top: 0;
		}
	}

	.container {
		opacity: 0;
		z-index: -1;
		justify-content: space-between;
		height: 100%;
		position: absolute;
		width: 100%;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		&.lives_improved {
			height: 165px;
		}
	}
	&_close {
		position: absolute;
		right: 0;
		width: 26px;
		height: 26px;
		border-radius: 2px;
		flex: 1 0 auto;
		background: #3A707A;
		color: #fff;
		cursor: pointer;
		display: none;

		@media #{$medium-up} {
			display: block;

		}

		&:after, &:before {
		    position: absolute;
		    top: 5px;
		    left: 12px;
		    content: ' ';
		    height: 15px;
		    width: 2px;
		    background-color: #fff;
		}
		&:before {
		    -webkit-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		    transform: rotate(45deg);
		}
		&:after {
		    -webkit-transform: rotate(-45deg);
		    -ms-transform: rotate(-45deg);
		    transform: rotate(-45deg);
		}
	}
	.nr_label {
		width: 100%;
		padding: .3em 0;
		border-bottom: 1px solid #3A707A;

        &:after { 
            content: " ";
            display: block; 
            height: 0; 
            clear: both;
        }

        span.label {
            float: left;
        }
		span.nr {
			float: right;
			color: #fff;
			font-weight: 700;
		}
		@media #{$medium-up} {
			&:last-of-type {
				border: 0;
			}
		}
	}
	&_left {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@media #{$medium-up} {
			width: grid-size(4);
		}

		h2 {
			margin: 0;
			font-size: 34px;
			display: none;
			@media #{$medium-up} {
				display: block;
			}
		}

	}
	&_right {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@media #{$medium-up} {
			width: grid-size(7);
			margin-left: grid-size(0);
			margin-right: grid-size(1.2);

			.global_presence &,
			.sustainability & {
				flex-direction: row;
				width: grid-size(7);
				.data-wrapper {
					align-self: flex-start;
				}
			}
		}
		.image {
			display: none;

		}

        @media #{$medium-only}{
            .global_presence &,
			.sustainability & {
				width: grid-size(7, true, true);
			}

        }
		@media #{$medium-up} {
			.data-wrapper {
				width: grid-size(8, false);
				align-self: flex-end;
			}
			.image {
				display: block;
				width: grid-size(4, false);
				height: 185px;
				svg, use {
					width: 100%;
					height: 100%;

				}

			}
		}

		&_header {
			border-bottom: 1px solid #3A707A;
		}

		.nr_lives_improved_label {
			line-height: 34px;
			@media #{$medium-up} {
				font-size: 34px;
			}
		}
		.nr_lives_improved {
			float: right;
			color: #fff;
			font-weight: 700;
			line-height: 34px;
			@media #{$medium-up} {
				font-size: 34px;
			}
		}
		.lives_improved_wrapper	{
			padding-top: 15px;
			@media #{$medium-up} {
				padding-top: 0;
			}
		}
		.lives_improved_percentage {
			font-size: 50px;
			line-height: 50px;
			color: $color-highlight;
			font-weight: 800;
			@media #{$medium-up} {
				font-size: 86px;
				line-height: 86px;
			}
		}
		.lives_improved_percentage_sub {
			color: $color-highlight;
			font-size: 21px;
			font-weight: 800;
			margin-top: -5px;
		}
		.lives_improved_wrapper {
			display: flex;
			justify-content: space-between;
		}
		.lives_improved_numbers {
			width: grid-size(6);
			display: flex;
			flex-direction: column;
		}

		.lives_improved_icons {
			width: 250px;
			flex-wrap: wrap;
			align-self: flex-end;

			img {
				height: 18px;
				margin-left: 2px;

				@media #{$medium-up} {
					height: 22px;
				}
			}
		}
	}
	&_title {
		color: $color-highlight;
	}
	.region_info_content {
		margin: 0 2em;
	}
}

/* ORU Level based styling */
.orulevel1{
    .region_info{
        .region_info_close{
            display: none;
        }
    }
}