

.region_info,
.region_info_wrapper {
	color: #3A707A;
	width: 100%;
	height: 100%;
	opacity: 0;
	position: relative;

	&_wrapper {
		padding-top: 10px;

		@media #{$medium-up} {
			padding-top: 0;
		}
	}

	.container {
		opacity: 0;
		z-index: -1;
		justify-content: space-between;
		height: 100%;
		position: absolute;
		width: 100%;
		// left: 50%;
		// transform: translateX(-50%);
		display: flex;

	}
	&_close {
		position: absolute;
		right: 0;
		width: 26px;
		height: 26px;
		border-radius: 2px;
		flex: 1 0 auto;
		background: #3A707A;
		color: #fff;
		cursor: pointer;
		display: none;

		@media #{$medium-up} {
			display: block;

		}

		&:after, &:before {
		    position: absolute;
		    top: 5px;
		    left: 12px;
		    content: ' ';
		    height: 15px;
		    width: 2px;
		    background-color: #fff;
		}
		&:before {
		    -webkit-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		    transform: rotate(45deg);
		}
		&:after {
		    -webkit-transform: rotate(-45deg);
		    -ms-transform: rotate(-45deg);
		    transform: rotate(-45deg);
		}
	}

    span.footnote{
        float: left;
		position: absolute;
		margin-top: -10px;
		margin-left: 5px;

        sup{
            color: white;
        }
    }
    .footnote {
        padding-top: 5px;
        color: #fff;
        font-size: 90%;
        // For the footnote text in the footer underneath the table
        span{
            padding-left: 5px;
        }
		sup {
			font-size: 25px;
		}
    }

	.nr_label {
		width: 100%;
		font-weight: 600;
	    font-size: 17px;
		display: inline;
		@media #{$xlarge-up} {
			font-size: 21px;
		}

        .footnote {
            color: inherit;
            font-size: 21px;
            padding-top: inherit;
        }


        span.label {
			margin-right: 50px;
			& + .footnote {
				margin-left: -50px;
			}
        }
		span.nr {
			margin-left: 5px;
			font-weight: 800;
		}
		@media #{$medium-up} {
			&:last-of-type {
				border: 0;
			}
		}
	}
	&_left {
		width: 100%;

		h2 {
			margin: 0;
			font-size: 34px;
			display: none;
			@media #{$medium-up} {
				display: block;
			}
			br {
				display: inline;
			    content: ' ';
			    clear: none;
			    width: 5px;
			    margin-right: 9px;
			}
		}
		.global_presence &,
		.sustainability & {
			.data-wrapper {
				@media #{$medium-up} {
					column-count: 2;
					column-gap: 50px;
				}
				flex-direction: column;
				justify-content: space-between;
				div {
					padding: 10px 0;
					border-bottom: 1px solid rgba(58, 112, 122, .5);
					-webkit-column-break-inside: avoid;
					page-break-inside: avoid;
					break-inside: avoid-column;
					span + span {
						float: right;
						color: #fff;
					}
				}
			}
		}
		.lives_improved & {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			@media #{$medium-up} {
				width: grid-size(6);
			}
			@media #{$xlarge-up} {
				width: grid-size(5);
			}


			.data-wrapper  {
				border-bottom: 1px solid rgba(58, 112, 122, .5);
				padding: 5px 0 10px 0;
				> div:first-child {
					&:after {
						content: '|';
						padding: 0 3px 0 8px;
					}
				}
				div {
					font-size: 17px;
				}
			}

			&_header {
				border-bottom: 1px solid rgba(58, 112, 122, .5);
				font-size: 34px;
				color: #fff;
				padding: 10px 0;
				.nr_lives_improved {
					font-weight: 700;
				}
				.nr_lives_improved_label {
					font-weight: 500;
					margin-left: 10px;
					text-transform: lowercase;
				}
			}

			.lives_improved_wrapper	{
				padding-top: 15px;
				@media #{$medium-up} {
					padding-top: 0;
				}
			}
			.lives_improved_percentage {
				font-size: 73px;
				line-height: 86px;
				color: #fff;
				font-weight: 800;
				@media #{$medium-up} {
					font-size: 86px;
					line-height: 86px;
				}
			}
			.lives_improved_percentage_sub {
				color: #fff;
				font-size: 21px;
				font-weight: 800;
				margin-top: -5px;
			}
			.lives_improved_wrapper {
				display: flex;
				justify-content: space-between;
				padding: 10px 0;
			}
			.lives_improved_numbers {
				width: grid-size(6);
				display: flex;
				flex-direction: column;
			}

			.lives_improved_icons {
	            @media #{$tiny-only} {
					display: none;
				}
				padding: 10px 0 0 0;
				width: 232px;
				flex-wrap: wrap;

				img {
					height: auto;
				    margin-left: 2px;
				    width: calc((100% / 25) - 2px);

					@media #{$medium-up} {
						height: 20px;
					}
				}
			}
		}
	}
	&_right {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 15px 0;
		position: relative;

		@media #{$medium-up} {
			width: grid-size(6);
			// background: #5bbbb7;
			border-left: 1px solid rgba(58, 112, 122, .5);
			.global_presence &,
			.sustainability & {
				flex-direction: row;
				width: grid-size(7);
				.data-wrapper {
					align-self: flex-start;
				}
			}
		}
		@media #{$xlarge-up} {
			width: grid-size(7);
		}
		.image {
			display: none;

		}

        @media #{$medium-only}{
            .global_presence &,
			.sustainability & {
				width: grid-size(7, true, true);
			}

        }
		@media #{$medium-up} {
			.data-wrapper {
				width: grid-size(8, false);
				align-self: flex-end;
			}
			.image {
				display: block;
				width: grid-size(4, false);
				height: 185px;
				svg, use {
					width: 100%;
					height: 100%;

				}

			}
		}


	}
	&_title {
		color: $color-highlight;
	}
	.region_info_content {
		margin: 0 2em;
	}
}

/* ORU Level based styling */
.orulevel-1{
    .region_info{
        .region_info_close{
            display: none;
        }
    }
}

/* Footnotes for sustainability data */
.footnote {
    display: none;
}
// Show the footnotes in these special cases
div.pubtype-qr.datasource-sustainability.subtype-all,
div.pubtype-qr.datasource-sustainability.subtype-value_emissions,
div.pubtype-qr.datasource-sustainability.subtype-value_emissionshaz {
    div#sustainability_details{
        span.footnote {
            display: inline;
        }
        div.footnote {
            display: flex;
        }
    }

}
