.map-tab_panels {
	@media #{$medium-up} {
		height: 90px;
	}
	> div > ul {
		display: flex;
		justify-content: space-between;

		flex-direction: column;
		list-style-type: none;
		padding-left: 0;
		@media #{$medium-up} {
			flex-direction: row;
		}
		> li {
			margin-left: 0;
			padding: 10px 0;
			width: 100%;
			text-align: left;
			border-bottom: 1px solid #22505F;
			cursor: pointer;
			position: relative;
			@media #{$medium-up} {
				text-align: center;
				padding-left: 0;
				padding-bottom: 5px;
			}
			&.active-tab {
				color: #fff;
				font-weight: 700;
				border-bottom: 1px solid #fff;
				.datatype-filter:after {
					border-color: #fff;
				}
			}
			.subtypeindicator{
				position: absolute;
			    top: 100%;
			    width: 100%;
			    margin-top: 10px;
			}
			.datatype-filter {
				position: absolute;
				right: 0;
				top: 0px;
				width: 35px;
				height: 35px;
				background: transparent;
				&:after {
					border-color: #28777F;
					border-style: solid;
					border-width: .10em .10em 0 0;
					content: "";
					display: inline-block;
					height: .50em;
					margin-left: 25px;
					right: 12px;
					position: absolute;
					top: 10px;
					-webkit-transform: rotate(135deg);
					-ms-transform: rotate(135deg);
					transform: rotate(135deg);
					vertical-align: top;
					width: .50em;

				}

				&:hover {
					background: #48979A;
					&:after {
						border-color: #fff;
					}
					ul {
						width: calc(#{$content-width} / 3);
					    right: calc(100% - 35px);
					    top: 20px;
						height: auto;

						@media #{$xlarge-up} {
							width: calc(#{$content-width-large} / 3);
						}
					}
					li:first-of-type {
						background: #1F6F78;
						color: #fff;
					}
				}
				ul {
					position: absolute;
					display: flex;
					flex-direction: column;
					height: 1rem;
					overflow: hidden;
					margin-top: 1em;
				    position: absolute;
					list-style-type: none;
					padding-left: 0;
				    width: 100%;
					z-index: 100;
					li {
						background: #1F6F78;
						color: #5BBBB7;
						padding: 1rem 1rem;
						border-bottom: 1px solid #5BBBB7;
						text-align: left;
						&:first-of-type {
							background: transparent;
						}
						&:last-of-type {
							border: 0;
						}
					}


				}
			}
		}
	}
}
